www/app_data/idoc_schemas/ALEAUD01.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msprop="urn:schemas-microsoft-com:xml-msprop" version="1.0">
<xsd:element name="ALEAUD01">
<xsd:annotation>
<xsd:documentation></xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IDOC">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EDI_DC40">
<xsd:annotation>
<xsd:documentation>IDoc Control Record for Interface to External System</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TABNAM" type="xsd:string" fixed="EDI_DC40">
<xsd:annotation>
<xsd:documentation>Name of table structure</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MANDT" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Client</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="DOCNUM" minOccurs="0">
<xsd:annotation>
<xsd:documentation>IDoc number</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="16" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="DOCREL" minOccurs="0">
<xsd:annotation>
<xsd:documentation>SAP Release for IDoc</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STATUS" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Status of IDoc</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="DIRECT">
<xsd:annotation>
<xsd:documentation>Direction</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="1">
<xsd:annotation>
<xsd:documentation>Outbound</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="2">
<xsd:annotation>
<xsd:documentation>Inbound</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="OUTMOD" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Output mode</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="EXPRSS" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Overriding in inbound processing</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="TEST" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Test flag</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="IDOCTYP" type="xsd:string" fixed="ALEAUD01">
<xsd:annotation>
<xsd:documentation>Name of basic type</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CIMTYP" minOccurs="0" type="xsd:string" fixed="">
<xsd:annotation>
<xsd:documentation>Extension (defined by customer)</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="MESTYP" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Message type</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="MESCOD" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Message code</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="MESFCT" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Message function</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STD" minOccurs="0">
<xsd:annotation>
<xsd:documentation>EDI standard, flag</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STDVRS" minOccurs="0">
<xsd:annotation>
<xsd:documentation>EDI standard, version and release</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STDMES" minOccurs="0">
<xsd:annotation>
<xsd:documentation>EDI message type</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SNDPOR">
<xsd:annotation>
<xsd:documentation>Sender port (SAP System, external subsystem)</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SNDPRT">
<xsd:annotation>
<xsd:documentation>Partner type of sender</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SNDPFC" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Partner Function of Sender</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SNDPRN">
<xsd:annotation>
<xsd:documentation>Partner Number of Sender</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SNDSAD" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Sender address (SADR)</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="21" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SNDLAD" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Logical address of sender</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="70" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="RCVPOR">
<xsd:annotation>
<xsd:documentation>Receiver port</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="RCVPRT" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Partner Type of receiver</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="RCVPFC" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Partner function of recipient</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="RCVPRN">
<xsd:annotation>
<xsd:documentation>Partner number of recipient</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="RCVSAD" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Recipient address (SADR)</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="21" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="RCVLAD" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Logical address of recipient</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="70" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="CREDAT" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Created on</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="CRETIM" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Time Created</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="REFINT" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Transmission file (EDI Interchange)</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="14" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="REFGRP" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Message group (EDI Message Group)</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="14" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="REFMES" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Message (EDI Message)</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="14" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ARCKEY" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Key for external message archive</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="70" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SERIAL" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Serialization</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="SEGMENT" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="1" />
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
</xsd:element>
<xsd:element name="E1ADHDR" minOccurs="0" maxOccurs="1">
<xsd:annotation>
<xsd:documentation>Message Type etc. of Confirmed IDocs</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MESTYP" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Logical message type</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="MESCOD" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Logical Message Variant</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="MESFCT" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Logical message function</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="MESTYP_LNG" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Message Type</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="E1STATE" minOccurs="0" maxOccurs="1">
<xsd:annotation>
<xsd:documentation>Status Information of IDoc for ALE Audit</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOCNUM" minOccurs="0">
<xsd:annotation>
<xsd:documentation>IDoc number</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="16" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STATUS" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Status of IDoc</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STACOD" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Status code</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STATXT" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Text for status code</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="70" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STAPA1" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Parameter 1</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STAPA2" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Parameter 2</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STAPA3" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Parameter 3</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STAPA4" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Parameter 4</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STATYP" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Type of system error message (A, W, E, S, I)</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STAMQU" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Status message qualifier</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STAMID" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Status message ID</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STAMNO" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Status message number</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STAPA1_LNG" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Parameter 1</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STAPA2_LNG" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Parameter 2</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STAPA3_LNG" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Parameter 3</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STAPA4_LNG" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Parameter 4</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="E1PRTOB" minOccurs="0" maxOccurs="1">
<xsd:annotation>
<xsd:documentation>IDoc number and application object in receiving system</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="DOCNUM" minOccurs="0">
<xsd:annotation>
<xsd:documentation>IDoc number</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="16" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="LOGSYS" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Logical system</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="OBJTYPE" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Object Type</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="OBJKEY" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Object key</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="70" />
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="SEGMENT" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="SEGMENT" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="SEGMENT" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="BEGIN" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="1" />
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
